<div class="card" style="width: 18rem;">
  <div class="card-header">Header</div>
  <img class="card-img-top" src="https://www.gettyimages.co.nz/gi-resources/images/Embed/new/embed2.jpg" alt="Card Image">
  <div class="card-title">Book Title</div>
  <div class="card-subtitle mb-2 text-muted">Book SubTitle</div>
  <div class="card-body">
    <p class="card-text">This is an example of a Book</p>
    <a [routerLink]="['book']" class="card-link">Details</a>
  </div>
</div>
<router-outlet></router-outlet>
