<div class="container">
  <div class="row">
    AppName: {{appName | async}}
  </div>
  <br />
  <br />
  <div class="row">
    <label> Name:  </label>
    <input type="text" #book> 
  </div>
  <div class="row">
    <label>Author</label>
    <input type="text" #author> 
  </div>
  <div class="row">
    <button class="btn btn-primary save-btn" (click)="onSave(book.value, author.value)">Save Book</button>
  </div>
  <div class="row">
    <button class="btn btn-primary save-btn" (click)="onGet()">Get Book</button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" 
        (click)="getBookDetails(book.name)"
          *ngFor="let book of books"
          >
          {{book.name}} {{book.author}}
        </li>
      </ul>
    </div>
  </div>
</div>
