doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title User Detail
  body
    section.container
      for product in products
        P #{product.name}
        P #{product.category}
        P #{product.price}
        p
         a(href='product/'+product._id) details