doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Login Page
  body
    section.container
      .login
        h1 Login User
        form(method='post', action=`login`)
          p
            input(type='email', name='email', placeholder='Email', required='')
          p
            input(type='password', name='password', placeholder='Password', required='')
          p.submit
            input(type='submit', name='', value='Login')
          if error
            div(class='div-class')
            p Email or password not valid
